extends ../layout/app.pug

include dashboard/widgets/device-stats.pug
include dashboard/widgets/job-queue.pug
include dashboard/widgets/alerts.pug
include dashboard/widgets/plenty-blocker.pug

block content 

block pageScript 
